 <div class="container-fluid">
    <div class="row mx-auto justify-content-center align-content-center align-items-center shadow " style="height: 90vh;">
        <div id="rl" style="height: 80vh;" >
            <a routerLink="/seller"> Dashboard</a> <hr>
            <a routerLink="/seller/addcategory"> Add New Category</a> <hr>
            <!-- <a routerLink="/"> All Categories</a> <hr> -->
            <a routerLink="/seller/upload"> Upload </a> <hr>
            <a routerLink="/seller/transaction"> Transaction </a>
        </div>
        
    </div>
 </div>