<div class="container-fluid">
    <div class=" row">
        <div class="col-lg-6 mx-auto mt-5 my-3 text-center py-3">
            <h2 class="mt-2"> <u>Customize Your Store Theme Here</u></h2>
            <div class="d-block mx-auto text-center">
                <h3>Color Picker</h3>
                <ChromePicker class="mx-auto" color="selectedColor"  /> 
                <!-- [(ngModel)]="handleColorChange" -->
                
                
            </div>

        </div>
    </div>
</div>