<div class="container-fluid">
    <div class="row animate__animated animate__pulse animate__delay-2s  animate__infinite	infinite animate__slower	5s">
        <div class="col-lg-5 p-5 mt-lg-5 h-lg-50 bg-dark text-white ms-5 shadow" id="cardstyle">
            <h1 class='p-lg-5 text-center shadow' style="color: #D93B00;  outline:1px solid #455A64;">Oh No! Error 404</h1>
            <h3 class="p-2 text-center" style="color: #455A64;">Page not Found</h3>
            <p class="text-center">The link you clicked may be broken or the page may have been removed or renamed</p>
            <div class='text-center my-5 '> <a routerLink="/" class="bg-white px-3 py-3 " style=" border-radius: 10px; text-decoration: none;  color:#D93B00; letter-spacing: 5px;" > <b>Go To Home Page</b></a></div>
        </div>
        <div class="col-lg-5 mt-lg-3">
            <!-- <img src={error} alt="" class='img-fluid img-responsive' id='errorimg'/> -->
            <img src="../../assets/error.svg" class='w-100 img-fluid img-responsive ' alt="">
        </div>
    </div>
</div>